*{
    margin: 0;
    padding: 0;
}

body{

    width: 100%;
    background-image: url("./img/background..jpg");

}


#wrap{

    max-width: 25%;
    margin-left: 8%;
    margin-top: 13%;
    box-sizing: border-box;
    position: relative;
}


#theWheel{

    width: 100%;
    max-width: 100%;
    padding-top: 100%;
    background-color: transparent;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    transform: rotate(15deg);
    border-style: solid;
    border-width: 0.7vw;
    border-color: white;
}
#pic1{
    position: absolute;
    max-width: 13%;
    top: 6%;
    left: 34%;
    transform: rotate(-15deg);
}
#pic2{
    position: absolute;
    max-width: 13%;
    top: 17%;
    left: 18%;
    transform: rotate(-45deg);
}
#pic3 {
    position: absolute;
    max-width: 13%;
    top: 15%;
    left: 71%;
    transform: rotate(45deg);
}
#pic4 {
    position: absolute;
    max-width: 13%;
    top: 6%;
    left: 53%;
    transform: rotate(15deg);
}

#pic5 {
    position: absolute;
    max-width: 13%;
    top: 33%;
    left: 9%;
    transform: rotate(-75deg);
}
#pic6 {
    position: absolute;
    max-width: 13%;
    top: 52%;
    left: 9%;
    transform: rotate(-105deg);
}
#pic7 {
    position: absolute;
    max-width: 13%;
    top: 68%;
    left: 18%;
    transform: rotate(-135deg);
}

#pic8 {
    position: absolute;
    max-width: 13%;
    top: 79%;
    left: 34%;
    transform: rotate(-165deg);
}
#pic9 {
    position: absolute;
    max-width: 13%;
    top: 79%;
    left: 53%;
    transform: rotate(-195deg);
}
#pic10 {
    position: absolute;
    max-width: 13%;
    top: 69%;
    left: 70%;
    transform: rotate(-225deg);
}
#pic11 {
    position: absolute;
    max-width: 13%;
    top: 53%;
    left: 80%;
    transform: rotate(-255deg);
}
#pic12 {
    position: absolute;
    max-width: 13%;
    top: 33%;
    left: 81%;
    transform: rotate(-285deg);
}

.firstPic{
    width: 100%;

}


.half1{
    position: absolute;
    width: 100%;
    bottom: 50%;
    background-color: transparent;
    padding-top: 50%;
    overflow: hidden;
}

.half1 div.section{
    position: absolute;
    width: 50%;
    padding-top: 50%;
    bottom: 0;

}

.half1 div.section:nth-child(1){

    background-color: #FFF0A5;

}
.half1 div.section:nth-child(2){

    background-color: #1E2D40;
    transform: rotate(30deg);

    transform-origin: 100% 100%;
}
.half1 div.section:nth-child(3){

    background-color: #8E2800;
    transform: rotate(60deg);

    transform-origin: 100% 100%;
}
.half1 div.section:nth-child(4){

    background-color: #468966;
    transform: rotate(90deg);

    transform-origin: 100% 100%;
}
.half1 div.section:nth-child(5){

    background-color: #FFF0A5;
    transform: rotate(120deg);

    transform-origin: 100% 100%;
}
.half1 div.section:nth-child(6){

    background-color: #1E2D40;
    transform: rotate(150deg);

    transform-origin: 100% 100%;
}


.half2{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: transparent;
    padding-top: 50%;
    overflow: hidden;
}
.half2 div.section{
    position: absolute;
    width: 50%;
    padding-top: 50%;
    bottom: 0;

}
.half2 div.section:nth-child(1){

    background-color: #468966;

}
.half2 div.section:nth-child(2){

    background-color: #8E2800;
    transform: rotate(-30deg);

    transform-origin: 100% 0%;
}
.half2 div.section:nth-child(3){

    background-color: #1E2D40;
    transform: rotate(-60deg);

    transform-origin: 100% 0%;
}
.half2 div.section:nth-child(4){

    background-color: #FFF0A5;
    transform: rotate(-90deg);

    transform-origin: 100% 0%;
}
.half2 div.section:nth-child(5){

    background-color: #468966;
    transform: rotate(-120deg);

    transform-origin: 100% 0%;
}
.half2 div.section:nth-child(6){

    background-color: #8E2800;
    transform: rotate(-150deg);

    transform-origin: 100% 0%;
}

#spin{
    position: absolute;
    padding-top: calc(50% - 2.25vw);
    left: calc(50% - 2.25vw);
}

#spinButton{

    position: absolute;
    width: 6vw;
    height: 6vw;

    text-decoration: none;
    outline: none;
    font-size: 2vw;
    border-radius: 50%;
    text-align: center;
    background-color: #8D6D67;
    border-style: solid;
    border-width: 0.5vw;
    border-color: white;
    cursor: pointer;

    font-weight: bold;
    color: white;
}
#spinButton:active {

    font-size: 1.8vw;
    transition: 0s linear;

    width: 5.8vw;
    height: 5.8vw;
}
#spinButton:hover{

    border-color: #D9D8CA;
    color: #D9D8CA;
    transition: 0.2s ease-in-out ;
}

@keyframes test{
    0%, 100%{
        transform: rotate(45deg);
    }
    50%{
        transform: rotate(55deg);
    }
}
#pointer{
    position: absolute;
    width: 3vw;
    height: 3vw;
    background-color: white;
    transform: rotate(45deg);
    left: 1.5vw;
    animation: test 0.5s ;
}

#menu{
    width: 30%;
    margin-left: 50%;
}
.contain{
    width: 40%;
    padding-top: 1.5%;
    position: relative;
    border-style: solid;
    border-color: #0A2140;
    border-width: 0.1vw;
    border-radius: 2vw;
    background-color: transparent;
}
.change{
    text-decoration: none;
    position: absolute;
    left: calc(50% + 0.1vw);
    padding-top: 0.6%;
    background-color: #0A2140;
    width: 0;
    border-width: 0;
    border-bottom-left-radius: 2vw;
    border-top-left-radius: 2vw;

}
.section{
    margin-top: 3%;
}

.text{
    font-weight: bold;
    color: #0A2140;
}